@model DoctorAppointmentSystem.Application.DTOs.PatientDTO

<h2>Create New Patient</h2>
@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="CreatePatient" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Patient Information</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DateOfBirth" class="form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="DateOfBirth" class="form-control" type="date" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="Email" class="form-control" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Address" class="form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MedicalHistory" class="form-label"></label>
            <textarea asp-for="MedicalHistory" class="form-control"></textarea>
            <span asp-validation-for="MedicalHistory" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="AccountID" class="form-label"></label>
            <span class="text-danger">*</span>
            <input asp-for="AccountID" class="form-control" type="number" />
            <span asp-validation-for="AccountID" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}