@page
@model ForgotPasswordModel

<div class="wrapper">
    <h2>Forgot Password?</h2>
    <form id="forgot-password-form" method="post">
        <div class="input-box">
            <input asp-for="Input.Email" class="form-control" placeholder="Enter your email" aria-required="true" />
        </div>
        <div class="button">
            <button id="forgot-password-submit" type="submit" class="btn btn-primary" style="width: 200px; padding: 10px 15px;">
                Reset Password
            </button>
        </div>
    </form>

    <div class="text">
        <span>Remember your password? <a asp-page="./Login">Login Here</a></span>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}