@page
@model LoginModel
@inject SignInManager<IdentityUser> SignInManager

@{
ViewData["Title"] = "Log in";
}

@if (!SignInManager.IsSignedIn(User))
{
<div class="wrapper">
    <h2>@ViewData["Title"]</h2>
    <form id="account" method="post">
        <div class="input-box">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your email" />
        </div>
        <div class="input-box">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter your password" />
        </div>
        <div class="policy">
            <input class="form-check-input" asp-for="Input.RememberMe" />
            <label asp-for="Input.RememberMe" class="form-label">Remember me</label>
        </div>
        <div class="button">
            <button id="login-submit" type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="text">
            <a asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
        <div class="text">
            <span>Not a member? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up here</a></span>
        </div>
    </form>
</div>
}
else
{
<p>You are already logged in as @User.Identity.Name.</p>
}