@page
@model RegisterModel
@inject SignInManager<IdentityUser> SignInManager

@{
ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/custom-login.css" />


@if (!SignInManager.IsSignedIn(User))
{
<div class="wrapper">
    <h2>@ViewData["Title"]</h2>
    <form id="account" method="post">
        <div class="input-box">
            <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Enter your name" />
        </div>
        <div class="input-box">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your email" />
        </div>
        <div class="input-box">
            <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter your password" />
        </div>
        <div class="input-box">
            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" aria-required="true" placeholder="Confirm your password" />
        </div>
        <div class="button">
            <button id="register-submit" type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="text">
            <a asp-page="./Login">Already have an account? Log in here</a>
        </div>
    </form>
</div>
}
else
{
<p>You are already logged in as @User.Identity.Name.</p>
}